/* CountdownTimer.module.css */
.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  .timer{
    display: flex;
    flex-direction: row;
  }
  
  .timeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
  }
  
  .time {
    font-size: 46px;
    font-weight: 700;
  }
  
  .label {
    font-size: 12px;
    color: gray;
  }
  
  .separator {
    font-size: 32px;
    color: red;
    margin: 0 5px;
  }
  
  .expired {
    font-size: 32px;
    color: red;
  }
